@page
@model ASPNetCoreEFCoreFacit.Pages.BilModel
@{
}


<h1>@Model.Regno</h1>


<table class="table">
    <tbody>
        <tr>
            <td>Manufacturer</td>
            <td>@Model.Manufacturer</td>
        </tr>
        <tr>
            <td>HasRadio</td>
            <td>@Model.HasRadio</td>
        </tr>
        <tr>
            <td>Modell</td>
            <td>@Model.Modell</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>